.skill {
  display: flex;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 5px;
  background: rgb(255 255 255 / 10%);
}

.skill:nth-child(odd) {
  background: rgb(0 0 0 / 30%);
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
